@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.lucide {
    width: 18px;
    height: 18px;
    stroke-width: 1.75;
}

div.ant-pro-table-list-toolbar-title {
    @apply font-normal;
}

.recharts-tooltip-wrapper {
    @apply z-10;
}

@media (max-width: 768px) {
    .ant-pro-table-list-toolbar .ant-pro-table-list-toolbar-left,
    .ant-pro-table-list-toolbar-title {
        width: 100%;
    }
}
