@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.lucide {
    width: 18px;
    height: 18px;
    stroke-width: 1.75;
}

div.ant-pro-table-list-toolbar-title {
    @apply font-normal;
}

@media (max-width: 768px) {
    .ant-pro-table-list-toolbar .ant-pro-table-list-toolbar-left,
    .ant-pro-table-list-toolbar-title {
        width: 100%;
    }
}
