@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

div.ant-pro-table-list-toolbar-title {
    @apply font-normal;
}

.lucide {
    width: 18px;
    height: 18px;
    stroke-width: 1.75;
}

/* .ant-menu-light .ant-menu-item-selected {
    background-color: #e6f4ff !important;
    color: #1677ff !important;
} */
